.reelslist{
    padding-top: 30px;
}
.explore{
    display: grid;
    grid-template-columns: 15% 85%;
}
@media screen and (max-width: 500px) {
    .reelnav{
      width: 100%;
        position: fixed;
        bottom: 60px;
        left: 0;
        right: 0;
        z-index: 999;
    }
    .explore{
      display: grid;
      grid-template-columns: 100%;
  }
  }
@media screen and (max-width: 1100px) {
    .baidanggreel{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      margin: 0 auto;
      width: 90%;
  }
  .baidangg11{
    position: relative;
    width: 100%;
    aspect-ratio: 0.7/1;
}
}
