.post{
    width: 550px;
    margin: 30px 40px 50px 120px;
}
.done{
    color:royalblue;
    margin-left: 5px;
    font-size: 8px;
    
}
.post_header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.postheader_author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.postheader_author>span{
    font-size: 15px;
    color: grey;
}
.post_image>img{
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid grey;
}
.post_image>img:hover{
    cursor: pointer;
}
.post_footerIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.postIcons{
    padding: 6px;
    transition: filter 0.3s ease;
}
.postIconss{
    padding: 6px;
    color: red;
    transition: filter 0.3s ease;
}
.postIconss:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.postIcons:hover{
    cursor: pointer;
    filter: blur(0.8px);
}
.post_author:hover{
    cursor: pointer;
}
.post_author{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    position: relative;
    transition: transform 0.3s ease;
}
.heo{
    width: 100%;
}
.pointer{
    cursor: pointer;
}
.post_author2:hover{
    cursor: pointer;
}
.post_author2{
    font-weight: 600;
}
.like{
    font-weight: 600;
    margin-bottom: 10px;
}
.modal {
    /* Styles for the modal */
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(1px);
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999;
  }
  .anhten{
    display: flex;
    flex-direction: row;
}
.anhten.herorr{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.coverimagee{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.infonamemodal{
    margin-left: 15px;
    margin-top: 18px;
    font-size: 18px;
}
.donemodal{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 18px;
}
.thongso{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.thpost{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.solieu{
    font-size: 17px;
    font-weight: 700;

}
.tensolieu{
    font-size: 15px;
    font-weight: 400;
}
.baanh{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}
.he{
    width: 97%;
    height: 130px;
    transition: transform 0.3s ease;
    
}
.he:hover{
    transform: scale(1.1);

}
.buttonfoot{
    padding: 20px;
    text-align: center;
}
.butt1{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    background-color:#00bfff;
}
.butt1:hover{
    background-color: #0073cf;
    cursor: pointer;
}
.butt2{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}
.butt2:hover{
    background-color:lightgrey;
    cursor: pointer;
}
.divduoi{
    padding-left: 0px;
}
.comment{
    padding-top: 5px;
}
.viewall{
    color: grey;
    cursor: pointer;
}
.commentt{
    margin-top: 2px;
    font-size: 15px;
    margin-left: 3px;
}
.comment-input{
    margin-top: 5px;
    padding-top: 5px;
    border: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputcmt {
    border: none;
    outline: none;
    width: 500px;
  }
  
  .inputcmt:focus,
  .inputcmt:focus-within {
    border: none;
    outline: none;
  }
.comment-author{
    font-weight: 600;
    margin-right: 10px;
}
.post_authorr:hover{
    cursor: pointer;
}
.post_authorr{
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    transition: transform 0.3s ease;
    margin-right: 10px;
}
.submit-button {
    display: none;
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    color: #0073cf;
    font-weight: 700;
    cursor: pointer;
  }
  .submit-button:hover{
    color: #00bfff;
  }
  
  .comment-input:focus-within .submit-button {
    display: inline-block;
  }
  