
.time{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.timeline_post{
    width: 100%;
}
.story{
    margin: 30px 40px 10px 60px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.timeline_left{
    width: 710px;
    flex: 0.7;
}
.timeline_right{
    width: 400px;
    flex: 0.3;
}
@media (max-width: 900px) {
    .story_left {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE, Edge */
        margin-left: 0px;
      }
    
      .story_left::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }
  }
.story_left {
    position: relative;
  }
  
  .story_left:hover .nextIcon {
    opacity: 1;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .nextIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    opacity: 0;
    font-size: 24px;
  }
  .relationn{
    color: grey;
    font-size: 18px;
}
.hero{
    width: 100%;
}
.profile{
    margin-top: 50px;
    width: 300px;
    margin-left: 30px;
}
.pro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profileinfo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.file{
    display: flex;
    flex-direction: row;
}
.hero:hover{
    cursor: pointer;
}
.usernamee{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.usernamee:hover{
    cursor: pointer;
}

